.main_page {
  width: 100%;
}

.main_page header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.main_page_content {
  margin: 0px 8px;
}

.main_page_content > div {
  margin-top: 24px;
}

.main_page_content > div > a {
  text-decoration: underline;
  list-style: circle;
}

.main_page_content > div > ul li {
  margin-left: 20px;
  list-style: circle;
}