.read_issue_page {
    width: 100%;
    min-height: 500px;
}

.read_issue_page_item_header_date > span {
    display: block;
    font-size: 12px;
}

.read_issue_page_item_content {
    margin-top: 20px;
} 